body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:330px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:46px;
  width:728px;
  height:330px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:59px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:62px;
  width:401px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:397px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:49px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:48px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:305px;
  width:267px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:48px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:116px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:153px;
  width:118px;
  height:116px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:116px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:153px;
  width:118px;
  height:116px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:116px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:153px;
  width:118px;
  height:116px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:116px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:153px;
  width:118px;
  height:116px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:116px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:153px;
  width:118px;
  height:116px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:399px;
  width:728px;
  height:232px;
  font-size:20px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:708px;
  word-wrap:break-word;
}
