body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:23px;
  width:500px;
  height:889px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:69px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:711px;
  width:415px;
  height:69px;
  font-size:20px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:411px;
  word-wrap:break-word;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:69px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:778px;
  width:415px;
  height:69px;
  font-size:20px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:411px;
  word-wrap:break-word;
}
